.memberName {
    font-size: 125%;
    font-weight: bold;
    text-align: right;
    word-wrap: break-word;
}

.currentMember {
    /*text-transform: uppercase; <- not good for greek names */
    font-size: 200%;
}

.currentMemberDiv {
    border-radius: 10px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+0,eeeeee+100 */
    background: rgb(204,204,204); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(204,204,204,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
}